# Python
venv/
__pycache__/
*.pyc

# Audio test files
*.mp3
*.wav

# Mac system files
.DS_Store

# Environment secrets
.env

# Database
backend/tracks.db

# Frontend build artifacts
frontend/node_modules/
frontend/dist/

# Rekordbox export output
backend/rekordbox_export.xml